<div class="footer">

	<footer>
		

		<div class="footer-base footer-group">
			
			SOA Logo
			
			<p class="small">
				Made in Pittsburgh at
				<a href="http://cmu.edu">CMU's</a>
				<a href="http://soa.cmu.edu">School of Architecture</a>.
				Courses developed by 
				<a href="https://www.linkedin.com/in/christina-ciardullo-42417913">Christina Ciardullo</a> and
				<a href="http://daraghbyrne.me">Daragh Byrne</a>.
			</p>
		</div>
	
		<div class="footer-group">
	
			<h6>
			Resources:
			</h6>
			<ul>
				<li>
					<a href="/schools/">Course Slack</a>
				</li>
				<li>
					<a href="/makers/">IDeATe Gallery</a>
				</li>
				<li>
					<a href="http://ideate.andrew.cmu.edu/">IDeATe Facilities</a>
				</li>
				<li>
					<a href="http://ideate.andrew.cmu.edu/">dFab Facilities</a>
				</li>
			</ul>
		
		</div>

		<div class="footer-group">
	
			<h6>
			Course:
			</h6>
			<ul>
				<li>
					<a href="#">Syllabus</a>
				</li>
				<li>
					<a href="#">Calendar</a>
				</li>
				<li>
					<a href="#">Assignments</a>
				</li>
				<li>
					<a href="http://ideate.andrew.cmu.edu/">dFab Facilities</a>
				</li>
			</ul>
		
		</div>





	</footer>

</div>
