<div class="footer">

	<footer>
	
		<div class="footer-group">
	
			<h6>
			Profiles
			</h6>
			<ul>
				<li>
					<a href="/schools/">Schools &amp; Universities</a>
				</li>
				<li>
					<a href="/makers/">Makers</a>
				</li>
				<li>
					<a href="/projects/">Projects</a>
				</li>
				<li>
					<a href="/spaces/">Maker Spaces</a>
				</li>
				<li>
					<a href="/courses/">Courses</a>
				</li>
			</ul>
		
		</div>

		<div class="footer-base">
			<p class="small">
				Made in Pittsburgh at
				<a href="http://cmu.edu">Carnegie Mellon University.</a>
				2015.
				Supported by the
				<a href="http://www.nsf.gov">National Science Foundation</a>
				under grant #1141631.
			</p>
		</div>


	</footer>

</div>
