<div class="footer">

	<footer>
	
		
		<div class="footer-group footer-double">
			
			<img src="{{ site.baseurl }}/public/images/soa.png" class="logo"/>
			
			<p class="small">
				Made in Pittsburgh at
				<a href="http://cmu.edu">CMU's</a>
				<a href="http://soa.cmu.edu">School of Architecture</a>.
				Courses developed by 
				<a href="https://www.linkedin.com/in/christina-ciardullo-42417913">Christina Ciardullo</a> and
				<a href="http://daraghbyrne.me">Daragh Byrne</a>.
			</p>

		</div>
		
	
		<div class="footer-group">
	
			<h6>
			Resources:
			</h6>
			<ul>
				<li>
					<a href="https://mars-studio.slack.com">Course Slack</a>
				</li>
				<li>
					<a href="http://ideate.xsead.cmu.edu/">IDeATe Gallery</a>
				</li>
				<li>
					<a href="http://ideate.andrew.cmu.edu/">IDeATe Facilities</a>
				</li>
				<li>
					<a href="http://cmu-dfab.org/">dFab Facilities</a>
				</li>
			</ul>
		
		</div>

		<div class="footer-group">
	
			<h6>
			Course:
			</h6>
			<ul>
				<li>
					<a href="#">Syllabus</a>
				</li>
				<li>
					<a href="#">Calendar</a>
				</li>
				<li>
					<a href="#">Assignments</a>
				</li>
				<li>
					<a href="#">Resources</a>
				</li>
			</ul>
		
		</div>


		<div class="footer-group footer-full">
		
		<p class="small">
			Generously supported by the
			
			<a href="http://pa.spacegrant.org">NASA Pennsylvania Space Grant Consortium</a>,
			the <a href="http://studioforcreativeinquiry.org/grants">Frank-Ratchye Fund for Art @ the Frontier</a> and
			Carnegie Mellon's <a href="http://www.cmu.edu/proseed/proseed-seed-grants/crosswalk.html">ProSEED/Crosswalk initiative</a>.
			
		</p>
		
	</div>


	</footer>

</div>
